/VoucherDemo.v12.suo
/packages
/VoucherDemo/VoucherDemo/obj
/VoucherDemo/VoucherDemo/bin
/VoucherDemo/VoucherDemo.Droid/obj
/VoucherDemo/VoucherDemo.Droid/bin
/VoucherDemo/VoucherDemo.iOS/obj
/VoucherDemo/VoucherDemo.iOS/bin
/VoucherDemo/VoucherDemo.Droid/VoucherDemo.Droid.csproj.user
/VoucherDemo.v11.suo

/VoucherDemo/VoucherDemo/.DS_Store
/VoucherDemo/VoucherDemo.iOS/.DS_Store
/VoucherDemo/VoucherDemo.Droid/*.DS_Store
/VoucherDemo/.DS_Store
/VoucherDemo.userprefs
/.DS_Store
/VoucherDemo/VoucherDemo.iOS/Resources/Thumbs.db
